@use 'null';
@use 'header';
@use 'hero';
@use 'stats';
@use 'about';
@use 'tokenomics';
@use 'roadmap';
@use 'faq';


body {
    background: #1E1E1E;
}

.app {
    width: 100%;
    overflow: hidden;
    background: #1E1E1E;
    min-height: 100vh;
    padding-bottom: 48px;
}

.container {
    width: 100%;
    padding: 0px 12px;
    max-width: 1200px;
    margin: 0 auto;

    &_mini {
        @extend .container;
        max-width: 1030px;
    }
}

.dnone {
    display: none;
}