@use 'null';

.app {
    width: 100%;
    overflow: hidden;
    background: #1E1E1E;
    min-height: 100vh;
}


a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Inter';
}


.background {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.icon_oval {
    justify-content: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    text-align: center;


}

.header .menu {
    margin-left: 350px;
    word-spacing: 30px;

}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
    word-spacing: 10px;

}

.actions .icons img {
    width: 45px;
    height: 45px;

}

.wallet-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 213px;
    height: 45px;
    font-family: 'Inter';
    text-align: center;
}

.main {
    text-align: center;
    margin: 50px 20px;

}

.main h1 {
    font-size: 96px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
}

.main b {
    color: white;
    font-family: 'Inter';
}

.main p {
    font-size: 36px;
    margin-bottom: 40px;

}

.stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 20px;


}

.stat {
    text-align: center;
    background-color: #222;
    width: 310px;
    height: 120px;
    border-radius: 5px;


}

.stat h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Inter';
}

.stat p {
    font-family: 'Interi';
}

.buy-toh {
    background: #0f0f1c;
    border-radius: 10px;
    padding: 20px;
    width: 372px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.buy-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Inter';
}

.buy-container {
    background: #1a1a2b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

}

.crypt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141422;
    border: 1px solid #282844;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.currency {
    display: flex;
    align-items: center;
    gap: 10px;

}

.currency-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.amount-input {
    background: transparent;
    border: none;
    color: #ffffff;
    text-align: right;
    font-size: 16px;
    width: 100px;
    outline: none;

}

.transfer-icon {
    text-align: center;
    margin: 10px 0;

}

.transfer-icon img {
    width: 30px;
    height: 30px;
}

.connect-wallet {
    background: linear-gradient(90deg, #ff9900, #ff6600);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-family: 'Inter';
}

.main-dog img {
    max-width: 300px;
    height: auto;

}